<div id="random-beer">
  {{#each oneBeerArray}}
  <div class="card">
    {{> beerImage}}
    <div id="info">
      {{> beerBaseInfo}}
      {{> beerMoreInfo}}
      {{> beerRemainingInfo}}
    </div>
  </div>
  {{/each}}
</div>